.wide-title {
  display: block;
  position: absolute;
  opacity: 0.1;
  margin-bottom: -1px;
  text-transform: none;
  color: white;
  opacity: 0.5;
  line-height: 0.8;
  font-size: 35.5vw;
  left: -2.65vw;
  letter-spacing: 5.5vw;
  font-family: Oxanium;
  width: 100%;
  z-index:999;
}
.separator {
  background-color: white;
  border: 1px solid white;
  border-left: none;
}
main > section,
main > .separator > section {
  padding-top: 80px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 450px) and (min-width: 360px) {
  .separator {
    border: none;
  }
  .wide-title {
    width: 100%;
    font-size: 32vw;
  }
} 

/* TABLET */
@media only screen and (max-width: 850px) and (min-width: 700px) {
  .wide-title {
    width: 100%;
    font-size: 32vw;
    left: 0;
  }
  .separator {
    border: none;
  }
}
