.media-room-container {
  background: #fff;
  color: #000;
}
.media-body-push {
  padding: 80px 100px;
}
.media-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.media-heading-text {
  padding: 0;
}
.media-room-text {
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
  margin: 0 0 1em -0.07em;
  font-family: Oxanium, sans-serif;
}

.media-image-container {
  padding: 0 !important;
  width: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.media-column {
  height: 400px;
  width: 356px;
  text-decoration: none;
}

.media-date {
  color: #333;
  font-family: Oxanium, sans-serif;
  letter-spacing: 0.2em;
  font-size: 13px;
  margin-bottom: 15px;
  line-height: 1;
}

.media-dec {
  color: #333;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 1em -0.07em;
  font-family: Oxanium, sans-serif;
}

.main-img {
  height: 100%;
  width: 100%;
}

.media-figure {
  width: 100%;
  height: 200px;
}

.image-container {
  margin-bottom: 20px;
}

@media only screen and (max-width: 450px) and (min-width: 340px) {
  .media-body-push {
    padding: 32px !important;
  }
  .media-image-container {
    display: flex;
    flex-direction: column;
  }
  .media-column {
    width: 100%;
  }
}
/* TABLET */
@media only screen and (max-width: 850px) and (min-width: 700px) {
  .media-body-push {
    padding: 80px 50px;
  }
  .media-image-container {
    /* gap: 32px; */
    gap: 20px;
  }
  .media-column {
    width: 202px;
  }
  .media-figure {
    height: 110px;
  }
}

@media only screen and (max-width: 760px) and (min-width: 700px) {
  .media-image-container {
    display: flex;
    flex-direction: column;
  }
  .media-column {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) and (min-width: 700px) {
  .connect-figure {
    left: -4%;
  }
  .media-figure {
    height: 270px;
  }
}
